<!-- wp:pattern {"slug":"language-tutor/header-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/hero-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/first-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/second-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/third-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/fourth-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/fifth-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/sixth-section"} /-->
<!-- wp:pattern {"slug":"language-tutor/footer-section"} /-->
